# CONFIG_SCHED_CREDIT is not set
# CONFIG_SCHED_RTDS is not set
# CONFIG_SCHED_NULL is not set
# CONFIG_SCHED_ARINC653 is not set
# CONFIG_TRACEBUFFER is not set
# CONFIG_HYPFS is not set
# CONFIG_GRANT_TABLE is not set
# CONFIG_SPECULATIVE_HARDEN_ARRAY is not set
# CONFIG_ARGO is not set
# CONFIG_HYPFS_CONFIG is not set
# CONFIG_CORE_PARKING is not set
# CONFIG_DEBUG_TRACE is not set
# CONFIG_IOREQ_SERVER is not set
# CONFIG_CRASH_DEBUG is not set
# CONFIG_GRANT_TABLE is not set
# CONFIG_HYPFS is not set
# CONFIG_KEXEC is not set
# CONFIG_LIVEPATCH is not set
# CONFIG_MEM_ACCESS is not set
# CONFIG_NUMA is not set
# CONFIG_PERF_COUNTERS is not set
# CONFIG_HAS_PMAP is not set
# CONFIG_TRACEBUFFER is not set
# CONFIG_XENOPROF is not set
# CONFIG_COMPAT is not set
# CONFIG_COVERAGE is not set
# CONFIG_UBSAN is not set
# CONFIG_NEEDS_LIBELF is not set
CONFIG_RISCV_64=y
CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_EXPERT=y
CONFIG_HAS_NS16550=y
CONFIG_DEVICE_TREE_DEBUG=y
CONFIG_SCHED_NULL=y
CONFIG_BOOT_TIME_CPUPOOLS=y
CONFIG_HAS_DEVICE_TREE=y
CONFIG_USING_MSI=y
CONFIG_HAS_PCI=y
CONFIG_DEBUG_FDT=y
