config EARLY_PRINTK
    bool "Enable early printk"
    default DEBUG
    help
      Enables early printk debug messages

config DEBUG_FDT
		bool "Debug flattened device tree"
		default DEBUG
		help
		  Dump the device tree created for domains.
